.top-menu {
    background: #1a1a1a;
}

.example {
    padding: 1em;
    border-radius: 2px;
    margin-bottom: 1.5em;
}

.column {
    height: 150px;
    border: 1px solid;
    text-align: center;
    line-height: 150px;
    max-width: 200px;
    border-radius: 2px;
}
